/* Import external fonts */
@font-face {
 font-family: "raleway";
 src: url(raleway_thin.ttf) format("truetype");
}

@font-face {
 font-family: "ubuntu";
 src: url(ubuntu_reg.ttf) format("truetype");
}

table {
 font-family: inherit;
 text-align:center;
 max-width: inherit;
}


body {
 background-color: maroon;
}

a:link{
 text-decoration:none;
 color:black;
}

a:visited{
 color:black;
}

h1 {
 font-family: inherit; 
}

#topBar {
 font-family:raleway;
 font-size: 32px;
 margin:20px;
 text-align: center;
 color: white;
}

#menuContainer {
 font-family: ubuntu;
}

#contentContainer {
 background-color:white;
 border-radius: 15px;
 padding:10px;
 text-align:center;
 margin: 0 auto;
 position: relative;
 font-family: ubuntu;
}

/* CSS for Transport Subfunctions (eg: Blue Bus, SEPTA, etc.) */
.blueBusTable {
 display: inline-block;
 width:100%;
 margin:0 auto;
}
.blueBusCol {
 display:inline-block;
 vertical-align:top;
 padding:5px;
}
.blueBusEntry {
 display: block;
}
.blueBusHeading {
 font-weight: bold;
}

.pseudoTable {
 display: inline-block;
 margin-bottom:20px;
 width:100%;
}

.pseudoTableRow {
 display: block;
}

.pseudoTableRow:first-child {
 font-weight:bold;
}

.pseudoTableElement {
 display: inline-block;
 padding: 10px; 
}

.highlightPositive {
 color:green;
}

.highlightNegative {
 color:red;
}

.appOptionLink,.appOptionLink:visited {
 display:inline-block;
 color: maroon;
 background-color: #DEDEDE;
 padding:10px;
 margin-bottom:20px;
 border-radius:15px;
}

.appOptionLink:hover {
 background-color: #FFFF47;
}

.message {
 display:block;
 margin-bottom:20px;
}

.menuText {
 position:relative;
 display: inline-block;
 font-size:24px;
 width: 80%;
 height:100%;
 margin-top:12px; /* Slightly higher than middle. */
 vertical-align:middle;
 text-align: center;
}

.menuButton {
 /* Disable text-select since button */
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none; 
 -o-user-select: none;
 background-color: white;
 border: 1px solid black;
 border-radius: 15px;
 /*padding: 20px;*/
 margin: 0 auto;
 margin-top: 25px;
 width: 90%;
 height: 64px;
 position: relative;
 display: block;
 overflow: hidden;
}

.menuButton:hover {
 cursor: pointer;
 background-color: #FFFF47;
}

.backButton { /* Perhaps we should make this an "arrow"-like button? --Casey */
 background-color: #DEDEDE;
 border: none;
 width: 90px; /* */
 height: 30px;
 text-align:center;
}


.backButtonText {
 position:relative;
 top: -7px;
 font-size:24px;
 color: maroon;
 font-family: ubuntu;
 display: inline-block;
}

.menuIcon {
 width:70%;
 height:70%;
 margin:15%;
 position:relative;
}

.menuIconContainer {
 display:inline-block;
 position:absolute;
 height: 100%;
 width:20%;
 right: 0px;
 border-left:2px solid maroon;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 8px;
 text-align:center;
}

#copyrightContainer {
 margin-top: 25px;
 font-size: 14px;
 font-family:raleway; 
 color: white;

 width: 100%;
 text-align: center;
}

#HaverLogo {
 background: url("http://www.haverford.edu/foundation/images/Haverford-College-Wordmark-White.png") no-repeat;
 background-size: contain;
 margin:0 auto;
 margin-top:10px;
 width:130px;
 height:30px;
}

.backTriangle {
 width: 0px;
 height: 0px;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 15px solid maroon;

 left: -5px; 
 position: relative;
 display: inline-block;
}

.ui-datepicker-month {
 color: #990000;
}

.ui-datepicker-year {
 color: #990000;
}

.ui-datepicker-calendar {
 color: #990000;
 margin: 0 auto;
}

.ui-icon {
 color: #990000;
}

a:link.ui-state-default{
 color: #FF9900;
 font-weight: bold;
}

.hiddenElement {
 display:none;
}
