/* Import external fonts */
@font-face {
 font-family: "raleway";
 src: url(raleway_thin.ttf) format("truetype");
}

@font-face {
 font-family: "ubuntu";
 src: url(ubuntu_reg.ttf) format("truetype");
}


body {
 background-color: maroon;
}

body {
 background-color: maroon;
}

a:link{
 text-decoration:none;
 color:black;
}

a:visited{
 color:black;
}

#topBar {
 font-family:raleway;
 font-size: 32px;
 margin:20px;
 text-align: center;
 color: white;
}

#menuContainer {
}

.menuText {
 position:absolute;
 font-size:24px;
 width: 80%;
 text-align: center;
 font-family: ubuntu;
 display: inline-block;
}

.menuButton {
 /* Disable text-select since button */
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none; 
 -o-user-select: none;
 background-color: white;
 border: 1px solid black;
 border-radius: 15px;
 padding: 20px;
 margin: 0 auto;
 margin-top: 25px;
 width: 75%;
 height: 34px;
 position: relative;
 display: block;
 overflow: hidden;
}

.menuButton:hover {
 cursor: pointer;
 background-color: #FFFF47;
}

.backButton {
 padding-left:0px;
 padding-right:0px;
 background-color: #DEDEDE;
}

.backButtonText {
 position:absolute;
 font-size:24px;
 width: 100%;
 text-align: center;
 font-family: ubuntu;
 display: inline-block;
}

.menuIcon {
}

.menuIconContainer {
 display:inline-block;
 position:absolute;
 height: 100%;
 width:20%;
 right: 0px;
 border-left:1px solid maroon;
 text-align:center;
}

#copyrightContainer {
 margin-top: 25px;
 font-size: 14px;
 font-family:raleway; 
 color: white;

 width: 100%;
 text-align: center;
}

#HaverLogo {
 background: url("http://www.haverford.edu/foundation/images/Haverford-College-Wordmark-White.png") no-repeat;
 background-size: contain;
 margin:0 auto;
 margin-top:10px;
 width:130px;
 height:30px;
}
