/* Import external fonts */
@font-face {
 font-family: "raleway";
 src: url(raleway_thin.ttf) format("truetype");
}

@font-face {
 font-family: "ubuntu";
 src: url(ubuntu_reg.ttf) format("truetype");
}

table {
 font-family: inherit;
 text-align:center;
 max-width: inherit;
}


body {
 background-color: maroon;
}

body {
 background-color: maroon;
}

a:link{
 text-decoration:none;
 color:black;
}

a:visited{
 color:black;
}

h1 {
 font-family: inherit; 
}

#topBar {
 font-family:raleway;
 font-size: 32px;
 margin:20px;
 text-align: center;
 color: white;
}

#menuContainer {
 font-family: ubuntu;
}

#transportationContainer {
 background-color:white;
 border-radius: 15px;
 padding:10px;
 text-align:center;
 margin: 0 auto;
 position: relative;
 font-family: ubuntu;
}

/* CSS for Transport Subfunctions (eg: Blue Bus, SEPTA, etc.) */
.blueBusTable {
 display: inline-block;
}
.blueBusCol {
 display:inline-block;
 vertical-align:top;
 padding:5px;
}
.blueBusEntry {
 display: block;
}
.blueBusHeading {
 font-weight: bold;
}



.menuText {
 position:absolute;
 font-size:24px;
 width: 80%;
 text-align: center;
 display: inline-block;
}

.menuButton {
 /* Disable text-select since button */
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none; 
 -o-user-select: none;
 background-color: white;
 border: 1px solid black;
 border-radius: 15px;
 padding: 20px;
 margin: 0 auto;
 margin-top: 25px;
 width: 75%;
 height: 34px;
 position: relative;
 display: block;
 overflow: hidden;
}

.menuButton:hover {
 cursor: pointer;
 background-color: #FFFF47;
}

.backButton { /* Perhaps we should make this an "arrow"-like button? --Casey */
 background-color: #DEDEDE;
 border: none;
 width: 90px; /* */
 height: 30px;
 text-align:center;
}


.backButtonText {
 position:relative;
 top: -7px;
 font-size:24px;
 color: maroon;
 font-family: ubuntu;
 display: inline-block;
}

.menuIcon {
 height:100px;
}

.menuIconContainer {
 display:inline-block;
 position:absolute;
 height: 100%;
 width:20%;
 right: 0px;
 border-left:1px solid maroon;
 text-align:center;
}

#copyrightContainer {
 margin-top: 25px;
 font-size: 14px;
 font-family:raleway; 
 color: white;

 width: 100%;
 text-align: center;
}

#HaverLogo {
 background: url("http://www.haverford.edu/foundation/images/Haverford-College-Wordmark-White.png") no-repeat;
 background-size: contain;
 margin:0 auto;
 margin-top:10px;
 width:130px;
 height:30px;
}

/* Test CSS */
.backTriangle {
 width: 0px;
 height: 0px;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 15px solid maroon;

 left: -5px; 
 position: relative;
 display: inline-block;
}

