<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
{# This should be made... organized. Oh, and pretty. #}
{# The idea here: display an (error) message if there is one, else display the goods. #}

<h1>{{date|date:"M. d (D)"}}</h1>

{% if message %}
 <div class="message">
 {{message}}
 </div>

<input type=text id=datepicker >
{% else %}
{% autoescape off %} 
 {{feed}}
{% endautoescape %}
{% endif %}
