<a href="/events_haverford/">
<div class="menuButton">
<div class="menuText">Haverford</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/events_bryn_mawr/">
<div class="menuButton">
<div class="menuText">Bryn Mawr</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/events_swarthmore/">
<div class="menuButton">
<div class="menuText">Swarthmore</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/events_upenn/">
<div class="menuButton">
<div class="menuText">UPenn</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/events_campus_philly/">
<div class="menuButton">
<div class="menuText">Campus Philly</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/events_community/">
<div class="menuButton">
<div class="menuText">Community</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>




<a href="/home/">
<div class="menuButton backButton">
<div class="backTriangle"></div>
<div class="backButtonText">Back</div>
</div>
</a>
