
<!-- Disable zoom on mobile site--> 
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width, user-scalable=no"/>

<!-- Import JQuery Mobile Theme for events -->
<link rel="stylesheet" href="../static/js/events_theme.css" />
<link rel="stylesheet" href="../static/js/jquery.mobile.icons.min.css" />

<!-- Import the "style" -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>



<title>
HaverApp 2.0
</title>

