<a href="mailto:csharbau@haverford.edu">
<div class="menuButton">
<div class="menuText">Make Appointment</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://cdc.gov/flu/about/disease/">
<div class="menuButton">
<div class="menuText">CDC Info</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://www.cdc.gov/flu/protect/keyfacts.htm">
<div class="menuButton">
<div class="menuText">Reasons for Vaccine</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://www.haverford.edu/healthservices/">
<div class="menuButton">
<div class="menuText">More Info</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/home/">
<div class="menuButton backButton">
<div class="backButtonText">Back</div>
</div>
</a>
