<a href="http://mail.haverford.edu">
<div class="menuButton">
E-Mail
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="https://moodle.haverford.edu/">
<div class="menuButton">
Moodle
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/moodle.png">
</div>
</div>
</a>

<a href="http://go.haverford.edu/">
<div class="menuButton">
Go!
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/babyClover.png">
</div>
</div>
</a>

<div class="menuButton">
<a href="events">Events </a>
<div class="menuIconContainer">
</div>
</div>

<div class="menuButton">
Dining
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/dinner.png">
</div>
</div>

<div class="menuButton">
Transportation
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/car.png">
</div>
</div>

<div class="menuButton">
Student News
<div class="menuIconContainer">
</div>
</div>
