<!--
<a href="http://mail.haverford.edu">
<div class="menuButton">
<div class="menuText">E-Mail</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.svg">
</div>
</div>
</a>-->


<a href="/dining/">
<div class="menuButton">
<div class="menuText">Dining</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/dinner.svg">
</div>
</div>
</a>

<a href="/transportation/">
<div class="menuButton">
<div class="menuText">Transportation</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/transport.svg">
</div>
</div>
</a>

<a href="https://moodle.haverford.edu/">
<div class="menuButton">
<div class="menuText">Moodle</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/moodle.svg">
</div>
</div>
</a>

<a href="http://go.haverford.edu/">
<div class="menuButton">
<div class="menuText">Go!</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/go.svg">
</div>
</div>
</a>

<a href="/events/">
<div class="menuButton">
<div class="menuText">Events </div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/studentnews.svg">
</div>
</div>
</a>

<a href="/studentnews/">
<div class="menuButton">
<div class="menuText">Student News</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/studentnews.svg">
</div>
</div>
</a>

<a href="/health/">
<div class="menuButton">
<div class="menuText">Health</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/health.svg">
</div>
</div>
<a>

