<!--
<a href="http://mail.haverford.edu">
<div class="menuButton">
<div class="menuText">E-Mail</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>-->


<a href="/dining/">
<div class="menuButton">
<div class="menuText">Dining</div>
<div class="menuIconContainer">
<object class="menuIcon" type="image/svg+xml" data="{{ STATIC_URL }}icons/dinner.svg"></object>
</div>
</div>
</a>

<a href="/transportation/">
<div class="menuButton">
<div class="menuText">Transportation</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/car.png">
</div>
</div>
</a>

<a href="https://moodle.haverford.edu/">
<div class="menuButton">
<div class="menuText">Moodle</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/moodle.png">
</div>
</div>
</a>

<a href="http://go.haverford.edu/">
<div class="menuButton">
<div class="menuText">Go!</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/babyClover.png">
</div>
</div>
</a>

<a href="/events/">
<div class="menuButton">
<div class="menuText">Events </div>
<div class="menuIconContainer">
</div>
</div>
</a>

<div class="menuButton">
<div class="menuText">Student News</div>
<div class="menuIconContainer">
</div>
</div>

<a href="/health/">
<div class="menuButton">
<div class="menuText">Health</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/dinner.png">
</div>
</div>
<a>

