<a href="/haverfordnews/">
<div class="menuButton">
<div class="menuText">Haverford News</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://www.biconews.com">
<div class="menuButton">
<div class="menuText">Bi-Co News</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://www.haverfordclerk.com">
<div class="menuButton">
<div class="menuText">The Clerk</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="http://ironwood.fig.haverford.edu">
<div class="menuButton">
<div class="menuText">The Fordgery</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

{% include "back_button.html" %}



