<a href="/SEPTA/">
<div class="menuButton">
<div class="menuText">SEPTA</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/bluebus/">
<div class="menuButton">
<div class="menuText">Blue Bus</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="#test">
<div class="menuButton">
<div class="menuText">Swat Vans</div>
<div class="menuIconContainer">
<img class="menuIcon" src="{{ STATIC_URL }}icons/envelope.png">
</div>
</div>
</a>

<a href="/home/">
<div class="menuButton backButton">
<div class="backTriangle"></div>
<div class="backButtonText">Back</div>
</div>
</a>

